<div class="post">
    <h2>
        <a href="#"><%= post.title %></a>
    </h2>
    <p class="lead">
        by <a href="index.php"><%= post.user.name %></a>
    </p>
    <p><span class="fa fa-clock-o"></span> Posted on <%= post.created_at %></p>
    <hr>
    
    <img class="img-responsive" src="<%= post.img_path %>" alt="" style="margin: 0 auto;">
    
    <hr>
    <p> <%= post.description %></p>
    <a class="btn btn-primary" href="#">Read More <span class="fa fa-chevron-right"></span></a>
    
    <hr>    
</div>
